/*
* Base
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 2vmin;
}

body {
  font-family: $serif;
  margin: 0;
}

p {
  line-height: 1;
  margin: 0;
}

text {
  text-anchor: middle;
}


/*
* Objects
*/

.o-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;

  * + & {
    margin-top: 2rem;
  }
}

.o-flex-row__item {

  & + & {
    margin-left: 0.5rem;
  }
}


.o-form-field {
  * + & {
    margin-top: 2rem;
  }
}

.o-form-field__label,
.o-form-field__input {
  display: block;
  width: 100%;
}

.o-form-field__label {
  font-size: 1rem;
}

.o-form-field__input {
  font-family: $sans-serif;
  font-size: 1rem;
  text-align: center;
  height: 2.5rem;
  margin-top: 0.5rem;
  border: 0.1rem solid;
  border-radius: 0.15rem;
}


.o-icon-button {
  display: flex;
  justify-content: center;

  * + & {
    margin-top: 2rem;
  }

  & + & {
    margin-top: 1rem;
  }
}

.o-icon-button--disabled {

  .o-icon-button__label,
  .o-icon-button__icon {
    border-style: dashed;
    background-color: $grayMedium;
  }
}

.o-icon-button__container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.o-icon-button__label,
.o-icon-button__icon {
  border: 0.1rem solid;
  background-color: white;
}

.o-icon-button__label {
  font-size: 1.2rem;
  min-width: 10rem;
  margin-left: -1.5rem;
  padding: 0.4rem;
  padding-left: 1.7rem;
  border-radius: 0.15rem;
}

.o-icon-button__icon {
  font-size: 2.4rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  z-index: 10;

  &::after {
    display: block;
    margin-top: -0.2rem;
  }
}

.o-icon-button__icon--minus {

  &::after {
    content: '-';
  }
}

.o-icon-button__icon--plus {

  &::after {
    content: '+';
  }
}


/*
* Utilities
*/

.u-fill-black-dark {fill: $blackDark;}
.u-fill-black-light {fill: $blackLight;}
.u-fill-black-medium {fill: $blackMedium;}
.u-fill-black-stroke {fill: $blackStroke;}
.u-fill-blue-dark {fill: $blueDark;}
.u-fill-blue-light {fill: $blueLight;}
.u-fill-blue-medium {fill: $blueMedium;}
.u-fill-blue-stroke {fill: $blueStroke;}
.u-fill-colorless-dark {fill: $colorlessDark;}
.u-fill-colorless-light {fill: $colorlessLight;}
.u-fill-colorless-medium {fill: $colorlessMedium;}
.u-fill-colorless-stroke {fill: $colorlessStroke;}
.u-fill-gold-dark {fill: $goldDark;}
.u-fill-gold-light {fill: $goldLight;}
.u-fill-gold-medium {fill: $goldMedium;}
.u-fill-gold-stroke {fill: $goldStroke;}
.u-fill-gray-dark {fill: $grayDark;}
.u-fill-gray-light {fill: $grayLight;}
.u-fill-gray-medium {fill: $grayMedium;}
.u-fill-gray-stroke {fill: $grayStroke;}
.u-fill-green-dark {fill: $greenDark;}
.u-fill-green-light {fill: $greenLight;}
.u-fill-green-medium {fill: $greenMedium;}
.u-fill-green-stroke {fill: $greenStroke;}
.u-fill-red-dark {fill: $redDark;}
.u-fill-red-light {fill: $redLight;}
.u-fill-red-medium {fill: $redMedium;}
.u-fill-red-stroke {fill: $redStroke;}
.u-fill-white-dark {fill: $whiteDark;}
.u-fill-white-light {fill: $whiteLight;}
.u-fill-white-medium {fill: $whiteMedium;}
.u-fill-white-stroke {fill: $whiteStroke;}

.u-flip-x {transform: scaleX(-1);}
.u-flip-Y {transform: scaleY(-1);}