/*
* Base
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Matrix-Bold', Helvetica, Arial, sans-serif;
  margin: 0;
}

text {
  text-anchor: middle;
}


/*
* Objects
*/

.o-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;

  * + & {
    margin-top: 2rem;
  }
}

.o-flex-row__item {

  & + & {
    margin-left: 1rem;
  }
}


.o-form-field {
  * + & {
    margin-top: 1rem;
  }
}

.o-form-field__label,
.o-form-field__input {
  display: block;
  width: 100%;
}

.o-form-field__label {
  font-size: 1rem;
}

.o-form-field__input {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  height: 2.5rem;
  margin-top: 0.5rem;
  border: 2px solid;
  border-radius: 3px;
}


/*
* Utilities
*/

.u-background-texture {
  position: relative;
  z-index: 1;

  &::after,
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::after {
    z-index: -1;
  }

  &::before {
    background-image: url('./assets/img/texture.jpg');
    background-size: cover;
    z-index: -2;
  }
}

.u-fill-black-dark {fill: $blackDark;}
.u-fill-black-light {fill: $blackLight;}
.u-fill-black-medium {fill: $blackMedium;}
.u-fill-black-stroke {fill: $blackStroke;}
.u-fill-blue-dark {fill: $blueDark;}
.u-fill-blue-light {fill: $blueLight;}
.u-fill-blue-medium {fill: $blueMedium;}
.u-fill-blue-stroke {fill: $blueStroke;}
.u-fill-colorless-dark {fill: $colorlessDark;}
.u-fill-colorless-light {fill: $colorlessLight;}
.u-fill-colorless-medium {fill: $colorlessMedium;}
.u-fill-colorless-stroke {fill: $colorlessStroke;}
.u-fill-gold-dark {fill: $goldDark;}
.u-fill-gold-light {fill: $goldLight;}
.u-fill-gold-medium {fill: $goldMedium;}
.u-fill-gold-stroke {fill: $goldStroke;}
.u-fill-gray-dark {fill: $grayDark;}
.u-fill-gray-light {fill: $grayLight;}
.u-fill-gray-medium {fill: $grayMedium;}
.u-fill-gray-stroke {fill: $grayStroke;}
.u-fill-green-dark {fill: $greenDark;}
.u-fill-green-light {fill: $greenLight;}
.u-fill-green-medium {fill: $greenMedium;}
.u-fill-green-stroke {fill: $greenStroke;}
.u-fill-red-dark {fill: $redDark;}
.u-fill-red-light {fill: $redLight;}
.u-fill-red-medium {fill: $redMedium;}
.u-fill-red-stroke {fill: $redStroke;}
.u-fill-white-dark {fill: $whiteDark;}
.u-fill-white-light {fill: $whiteLight;}
.u-fill-white-medium {fill: $whiteMedium;}
.u-fill-white-stroke {fill: $whiteStroke;}

.u-fill-texture {
  fill: url(#texture)
}

.u-flip-x {transform: scaleX(-1);}
.u-flip-Y {transform: scaleY(-1);}

.u-opacity-65 {opacity: 0.65;}
.u-opacity-90 {opacity: 0.9;}
.u-opacity-95 {opacity: 0.95;}