/*
* Colors
*/

$blackDark: #000;
$blackLight: #e7e3e2;
$blackMedium: #bbb1af;
$blackStroke: #070506;

$blueDark: #4bbbeb;
$blueLight: #f3fbff;
$blueMedium: #c7e1ee;
$blueStroke: #067bc0;

$colorlessDark: #87a5b0;
$colorlessLight: #e4eaea;
$colorlessMedium: #d0d7dd;
$colorlessStroke: #e2dad9;

$goldDark: #e2a307;
$goldLight: #e4d9d3;
$goldMedium: #bba66d;
$goldStroke: #d2b768;

$grayDark: #2d2b2a;
$grayLight: #f0ebe6;
$grayMedium: #96918a;
$grayStroke: #bfb9b2;

$greenDark: #396844;
$greenLight: #dfe9e0;
$greenMedium: #bfd7c9;
$greenStroke: #057e4b;

$redDark: #bc1f00;
$redLight: #fff8f9;
$redMedium: #f7cfb6;
$redStroke: #da2933;

$whiteDark: #e2d8c3;
$whiteLight: #fefefc;
$whiteMedium: #f6f5f0;
$whiteStroke: #e6e6e4;


/*
* Font Stacks
*/

$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$serif: 'Matrix-Bold', Times, "Times New Roman", serif